<form class='login' action="/login"method="post">
  Login <br>
  Username<input type='text' name='username'></input>
  Password<input type='password' name='password'></input>
  <input type="submit" value="Submit">
</form>

<form class='createAccount' action="/createAccount" method="post">
  Create Account <br>
  Username<input type='text' name='username'>
  Password<input type='password' name='password'>
  <input type="submit" value="Submit">
</form>