<div class='link' ng-repeat="link in links">
  <img src="/redirect_icon.png"/>
  <div class="info">
    <div class="visits"><span class="count">{{ link.visits }}</span>Visits</div>
    <a class="title" href="">{{ link.title }}</a>
    <div class="original">{{ link.url }}</div>
    <div class="lastVisited">{{ link.lastClicked }}</div>
    <a href="{{ link.base_url }}/{{ link.code }}">{{ link.base_url }}/{{ link.code }}</a>
  </div>
</div>



<div class="lastVisited"><% \
        if (lastclicked){ \
          var date = new Date(Number(lastclicked) * 1000) \
        } else { \
          var date = "not visited" \
        } %><%= date %></div>

